<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Nome Associazione</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/sito-associazione/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/sito-associazione/"><b>Notizie</b></a> |
                <a href="/sito-associazione/chi-siamo">Chi Siamo</a> |
                <a href="/sito-associazione/fai-una-donazione">Fai una Donazione</a> |
                <a href="/sito-associazione/progetti">Progetti</a> |
                <a href="/sito-associazione/servizi">Servizi</a> |
                <a href="/sito-associazione/contatti">Contatti</a> |
                <a href="/sito-associazione/trasparenza">Trasparenza</a> |
                <a href="/sito-associazione/privacy">Privacy</a>
            </nav>
        </header>
    <hr>

    <main>
        {{ content | safe }}
    </main>

    <hr>
    <footer>
        <p> Associazione Malati Oncologici ODV Carpi (MO)</p>
          <div style="flex: 1; min-width: 400px;">
          <img src="/sito-associazione/img/amo_logo.avif" alt="Logo AMO" style="width: 10%; border-radius: 12px; box-shadow: 0 0px 0px rgba(0,0,0,0.1);">
          </div>
    </footer>
</body>
</html>